body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: whitesmoke;
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
}

.hidden {
  display: none;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0 0.5em;
}

.border {
  border: none !important;
}

.box {
  max-height: 200px;
  max-width: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
}



.logo {
  max-width: 80%;
  max-height: 80%;
  padding: 1em 0;
  max-block-size: 50%;
}

.contact i {
  font-size: 30px;
}

#skills-container {
  max-width: 620px !important;
  max-height: 330px !important;
  margin-bottom: 75px;
}

@media (min-width:961px) {
  #contact-table {
    max-width: 30%;
  }
}

.fadeinDown {
  animation: fadeinDown 10s;
  -moz-animation: fadeinDown 2.5s;
  /* Firefox */
  -webkit-animation: fadeinDown 2.5s;
  /* Safari and Chrome */
  -o-animation: fadeinDown 2.5s;
  /* Opera */
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: italic;
}

.fadein {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
  /* Firefox */
  -webkit-animation: fadein 2.5s;
  /* Safari and Chrome */
  -o-animation: fadein 2.5s;
  /* Opera */
}

.fadeinLong {
  animation: fadein 10s;
  -moz-animation: fadein 10s;
  /* Firefox */
  -webkit-animation: fadein 10s;
  /* Safari and Chrome */
  -o-animation: fadein 10s;
  /* Opera */
}

@keyframes fadeinDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeinDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-o-keyframes fadeinDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #4e5c78;
  color: white;
  transform: rotateY(180deg);
  padding: 15px 15px;
}

.back2 {
  background-color: #507059;
}

.back3 {
  background-color: #707351
}

.back4 {
  background-color: #735851;
}

.back5 {
  background-color: #635173;
}

.back5 {
  background-color: #735151;
}

hr {
  border-top: 1px solid gray;
}